<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Local" connectionString="DataDir = file://c:/ravendb"/>
        <add name="Server" connectionString="Url=http://localhost:8080"/>
        <add name="Secure" connectionString="Url = http://localhost:8080;user=beam;password=up;ResourceManagerId=d5723e19-92ad-4531-adad-8611e6e05c8a"/>
    </connectionStrings>    
  <system.web>
    
      <membership defaultProvider="RavenDBMembership">
      <providers>
        <add name="RavenDBMembership"
             applicationName="MyApp"
                type="RavenDBMembership.Provider.RavenDBMembershipProvider, RavenDBMembership"
              connectionStringName="Server"
              enablePasswordRetrieval="false"
              enablePasswordReset="true"
              requiresQuestionAndAnswer="true"
              maxInvalidPasswordAttempts="5"
              passwordAttemptWindow="30"  
              enableEmbeddableDocumentStore="false"
             />
          <!-- writeExceptionsToEventLog="false" -->
      </providers>
    </membership>
  </system.web>
</configuration>
