<?xml version="1.0"?>
<configuration>
  <!--These are required for testing of web.config integration.-->
  <connectionStrings>
    <add name="Local" connectionString="DataDir = ~\Data"/>
    <add name="Server" connectionString="Url=http://localhost:8080"/>
  </connectionStrings>
  
  <!--<system.web>
    <membership defaultProvider="RavenDBMembership">
      <providers>
        <add name="RavenDBMembership"
             applicationName="RavenDBMembershipUnitTests"
             type="RavenDBMembership.Provider.RavenDBMembershipProvider, RavenDBMembership"/>
      </providers>
    </membership>
  </system.web>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
